.sections {
  height: 300px;
}

.textImg {
  height: 300px;
}

.sectionBox {
  text-align: center;
  /* width: 790px; */
  width: 571px;
  margin: auto;
}

.sectionBox input[type="text"],
.sectionBox textarea {
  border: 1px solid rgb(195, 194, 204);
  /* width: 500px; */
  width: 335px;
  outline: none;
}

input[type="text"]:focus {
  outline: none;
  border: 1px solid orange;
}

.sectionBox button[type="submit"] {
  background-color: beige;
  color: #75b261;
  height: 50px;
  width: 100px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
}

.writeBox {
  display: flex;
  flex-direction: column;
  position: relative;
}

.writeBox > li {
  border-bottom: 1px solid rgb(195, 194, 204);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: center; */
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.writeBox > li > a {
  display: block;
  /* position: relative; */
  /* margin-right: 50px; */
  /* margin-left: 20%; */
  left: 10px;
  /* background-color: crimson; */
  width: 50px;
  min-width: 140px;
  text-align: left;
}
.wrap {
  width: auto;
  position: relative;
  display: flex;
}

.wImg {
  border-top: 1px solid rgb(195, 194, 204);
}

.wImg .wrap2 {
  width: 180px;
  height: 180px;
  /* background-color: aliceblue; */
  background-color: #ffe355;
  text-align: center;
  line-height: 300px;
  color: rgb(195, 194, 204);
  z-index: 1;
  margin-right: 14px;
}

.wImg .wrap2::after {
}

.wrap2 > img {
  height: 100%;
  width: 100%;
}
.fa-camera {
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  top: 74px;
}

.wImgFile {
  font-size: 0px;
  /* width: 100%;
  height: 100%; */
  opacity: 0;
}

.wTitle {
  /* background-color: aliceblue; */
}
.wCate {
  position: relative;
  /* background-color: blue; */
  /* height: 400px; */
}

.wCate__option {
  /* border: 1px solid black; */
  border: 1px solid rgb(195, 194, 204);
  width: 424px;
  display: flex;
  position: relative;
  /* background-color: pink; */
  /* height: 200px; */
}

.wCate__option > div {
  width: 600px;
  /* border: 1px solid black; */
  height: 100%;
  widows: 100px;
  background-color: red;
  position: relative;
  overflow: auto;
}

.wCate__option > div::-webkit-scrollbar {
}

.wCate__option > div > ul > li > button {
  border-style: none;
  background-color: white;
  width: 100%;
  text-align: left;
  padding: 5px;
  color: black;
  text-indent: 0.5em;
}
.wCate__option > div > ul > li > button:hover {
  background-color: whitesmoke;
}

.wPlace {
}
.wStatus {
}
.wStatus > div > label {
  margin: 0;
}

.wPrice {
}

.inputs__price > input[type="text"] {
  width: 200px;
}

.wEx {
}

.wEx > div > textarea {
  max-height: 100px;
  resize: none;
  width: 424px;
}

.out {
  text-align: right;
}
