/* root로 설정해놓을수 있는 것들이 뭐가 있을까?
일단 토글버튼!

*/

.chat {
  width: 50px;
  height: 50px;
  background-color: #f0f2f5;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 2;
  user-select: none;
}

.chat:hover {
  background-color: gainsboro;
}

.chatBox {
  width: 340px;
  height: 440px;
  background-color: white;
  position: fixed;
  bottom: 10px;
  right: 100px;
  display: none;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.chatBox:hover .chatIcon {
}

.chatIcon {
  /* color: #bcbcbc; */
  color: rgb(45, 128, 253);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: transparent;
  text-align: center;
}

.chatIcon:hover {
  /* color: rgb(150, 148, 148); */
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: gainsboro;
  text-align: center;
}

.chatHead {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px gainsboro;
  /* margin-bottom: 10px; */
}

.chatHead__left {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
  margin: 3px;
  border-radius: 12px;
}

.chatHead__left:hover {
  background-color: ghostwhite;
}

.chatUserName {
  font-size: 14px;
  font-weight: 600;
}

.chatHead__left > .chatIcon {
  background-color: transparent;
  line-height: 1.8;
  font-size: 14px;
  color: black;
}

.chatHead__left > .chatUserImg {
  background-color: transparent;
  margin: 7px;
  margin-right: 10px;
}

.chatHead__right {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.chatHead__right .chatIcon {
  background-color: transparent;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  margin-left: 5px;
  margin-right: 5px;
}

.chatIcon:hover {
  background-color: gainsboro;
}

.chatBody {
}

.msgBox {
  overflow-y: scroll;
  /* height: 430px; */
  height: 346px;
  scrollbar-color: orange;
}

.msgBox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.msg {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.myMsg {
  display: flex;
  margin-right: 16px;
  justify-content: flex-end;
}

.myMsg .textBox__row {
  display: flex;
  flex-direction: row-reverse;
}

.myMsg .msgText {
  background-color: #3578e5;
  color: white;
  border-bottom-right-radius: 0px;
}

.chatUserImg {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-right: 10px;
}

.msgText {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #e4e6eb;
  border-radius: 18px;
  margin: 2px;
  font-size: 12px;
  font-weight: 600;
  color: #050505;
  text-align: left;
}

.msg__menu {
  display: flex;
  opacity: 0;
  transition: all 100ms linear;
  align-items: center;
}

.msg__menu .chatIcon {
  font-size: 16px;
  /* line-height은 사이즈의 10분의 1일때 정가운데 오는거같다. */
  line-height: 1.6;
  color: #bcbcbc !important;
}

.msg__menu .chatIcon:hover {
  color: gray !important;
}
.msg__menu:hover {
  opacity: 1;
}

.textBox {
}

.textBox__row {
  display: flex;
}

.chatBottom {
  display: flex;
  /* position: absolute; */
  bottom: 0px;
  height: 40px;
  align-items: center;
  /* width: 330px; */
  justify-content: space-around;
  margin-left: 5px;
  margin-right: 5px;
}

.chatBottom .chatIcon {
  font-size: 20px;
}

.chatBox2 {
  width: 200px;
  height: 200px;
  background-color: white;
  position: fixed;
  bottom: 250px;
  right: 448px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: none;
}

.chatBox2 > div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.chatBox2 > div > div {
  display: flex;
  font-size: 14px;
  padding: 8px;
  /* padding-top: 14px; */
}
.chatBox2 > div > div:hover {
  background-color: gainsboro;
}

.chatBox2 > div > div > i {
  font-size: 18px;
  width: 16px;
  margin-right: 12px;
}

/* chatList */

.chatListToggle {
  width: 36px;
  height: 36px;
  /* background-color: #f0f2f5; */
  border-radius: 100%;
  border: 1px solid gainsboro;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  user-select: none;
}

.chatList {
  width: 300px;
  height: 400px;
  background-color: white;
  position: fixed;
  top: 60px;
  right: 300px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}

.chatList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.chatList__Text {
  font-size: 20px;
  font-weight: 700;
  margin: 16px;
  margin-bottom: 10px;
}

.chatList__View {
  margin: 10px;
}

.chatList__User {
  display: flex;
  align-items: center;
  padding: 6px;
}

.chatList__User:hover {
  background-color: gainsboro;
}

.chatList__User .chatIcon {
  width: 24px;
  height: 24px;
  text-align: center;
  color: black;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.8;
}

.chatList__User .chatIcon:hover {
  background-color: gray;
}

.chatListUserOption {
  margin-left: 10px;
  display: none;
}

.chatListUserOption button {
  background-color: transparent;
  border: 0px;
  outline-style: none;
  padding: 4px;
  border-radius: 4px;
  color: gray;
  font-size: 11px;
  /* margin-left: 4px; */
}

.chatListUserOption button:hover {
  background-color: rgb(238, 238, 238);
}

/* alarmToggle */

.alarmToggle {
  width: 36px;
  height: 36px;
  /* background-color: #f0f2f5; */
  border-radius: 100%;
  border: 1px solid gainsboro;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  user-select: none;
}

.alarmList {
  width: 300px;
  height: 400px;
  background-color: white;
  position: fixed;
  top: 60px;
  right: 300px;
  border-radius: 10px;
  border: 1px solid lightgray;
  display: none;
  overflow-y: scroll;
  z-index: 2;
}

.alarmList .alarmList__alarm {
  font-size: 12px;
  font-weight: 600;
  border-bottom: solid 1px gainsboro;
}

.alarmList::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.alarmList__alarm {
  display: flex;
  align-items: center;
  padding: 6px;
}

.alarmList__alarm:hover {
  background-color: gainsboro;
}

.alarmList__alarm .chatIcon {
  width: 24px;
  height: 24px;
  text-align: center;
  color: black;
  margin-left: 10px;
  font-size: 14px;
  line-height: 1.8;
}

.alarmList__alarm .chatIcon:hover {
  background-color: gray;
}

/* Toggle */

.viewChat {
  display: block;
}
