.profileSections {
  margin-top: 73px;
  background-color: white;
  padding: 50px 0px;
}

.profileSections__ {
  width: 500px;
  height: 800px;
  margin: auto;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 10px;
}

.profileTop {
  display: flex;
  width: 100%;
  height: 120px;
  /* padding: 20px; */
  background-color: white;
  align-items: center;
}

.profileImg {
  margin-left: 20px;
}

.profileImg img {
  width: 100px;
  border-radius: 100%;
}

.topRight {
  margin-left: 10px;
  /* display: flex; */
}

.profileName {
  font-size: 24px;
  font-weight: 700;
}

.profileTopBtn {
}

.profileTopBtn button {
  border: none;
  outline-style: none;
  padding: 4px;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 2px;
}

.profileTopBtn button:nth-of-type(1) {
}

.profileTopBtn button:nth-of-type(2) {
}

.postImg > img {
  width: 50px;
  border-radius: 100%;
}

.tempCount {
  margin-left: 50px;
  font-weight: 600;
}

.temp {
  width: 400px;
  height: 14px;
background-color: #e9ecef;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 12px;
}

.temp__ {
  width: 75.6%;
  height: 14px;
  background-color: orange;

  border-radius: 12px;
}

.sellList {
  width: 100%;
  height: 50px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.sellList button:not(.keywordBtn) {
  border: none;
  outline-style: none;
  padding: 4px;
  margin: auto;
  background-color: white;
  border: 1px solid gainsboro;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  font-size: 15px;
  margin: 4px;
}

.postCount {
  margin-bottom: 20px;
}

.posts {
  overflow: scroll;
  height: 500px;
}

.posts::-webkit-scrollbar {
  display: none;
}

.post {
  display: flex;
  border-bottom: solid 1px gainsboro;
  margin-bottom: 10px;
}

.postWriterName {
  margin: 0px 4px;
}

.postWriter {
  display: flex;
  align-items: center;
}

.postWriter a:not([class]) {
  font-size: 14px;
  margin-left: 4px;
}

.etc {
  font-size: 10px;
}

.postContent {
  margin: 4px 4px;
}

.upTempWindow {
  width: 300px;
  height: 150px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: beige;
  position: absolute;
  z-index: 5;
}
.downTempWindow {
}

.upTempWindow > form {
  text-align: center;
}

#com_content {
  width: 100%;
  outline-style: none;
}
#com_content ~ button {
  margin-top: 5px;
}
.show {
  display: flex;
}