<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultSet">
		<id property="board_sq" column="board_sq" />
		<result property="board_writer" column="board_writer" />
		<result property="board_category" column="board_category" />
		<result property="board_title" column="board_title" />
		<result property="price" column="price" />
		<result property="board_img" column="board_img" />
		<result property="board_dips_cnt" column="board_dips_cnt" />
		<result property="board_chat_cnt" column="board_chat_cnt" />
		<result property="board_views_cnt" column="board_views_cnt" />
		<result property="board_date" column="board_date" />
		<result property="board_update_date" column="board_update_date" />
		<result property="board_address" column="board_address" />
		<result property="nego" column="nego" />
		<result property="board_state" column="board_state" />
		<result property="board_sample4_jibunAddress" column="board_sample4_jibunAddress" />
		<result property="profile_sq" column="profile_sq" />
	</resultMap>

	<resultMap type="BoardContent" id="boardContentResultSet">
		<id property="board_content_sq" column="board_content_sq" />
		<result property="board_sq" column="board_sq" />
		<result property="board_content" column="board_content" />
	</resultMap>
	
	<resultMap type="FileBoard" id="fileBoardResultSet">
		<id property="file_sq" column="file_sq" />
		<result property="board_content_sq" column="board_content_sq" />
		<result property="file_name" column="file_name" />
		<result property="file_org_name" column="file_org_name" />
		<result property="file_size" column="file_size" />
	</resultMap>



	<select id="getBoardList" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_state = 'Y'
		ORDER BY board_sq DESC
	</select>

	<insert id="insertPB" parameterType="Board">
		INSERT INTO board_tb
		VALUES(board_tb_seq.NEXTVAL,#{board_writer},#{board_category},#{board_title},#{price},#{board_img},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,
		#{board_address},#{nego},DEFAULT,#{board_sample4_jibunAddress},#{profile_sq})
	</insert>
	
	<update id="deletePB" parameterType="Board">
		UPDATE board_tb
		SET
		board_state='N'
		WHERE board_sq = #{board_sq}
	</update>

	<select id="getBoard" parameterType="Board" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_writer = #{board_writer}
		AND board_img=#{board_img}
	</select>
	
	<select id="getBoard2" parameterType="Board" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_sq = #{board_sq}
	</select>
	
	<insert id="insertContent" parameterType="BoardContent">
		INSERT INTO board_content_tb
		VALUES(board_content_tb_seq.NEXTVAL,#{board_sq},#{board_content})
	</insert>
	
	<select id="getContent" parameterType="BoardContent" resultMap="boardContentResultSet">
		SELECT *
		FROM board_content_tb
		WHERE board_sq = #{board_sq}
	</select>
	
	<insert id="insertFile" parameterType="FileBoard">
		INSERT INTO file_tb
		VALUES(file_tb_seq.NEXTVAL,#{board_content_sq},#{file_name},#{file_org_name},#{file_size})
	</insert>
	
	<select id="getFiles" parameterType="BoardContent" resultMap="fileBoardResultSet">
		SELECT *
		FROM file_tb
		WHERE board_content_sq = #{board_content_sq}
	</select>
<!--**************************************************************************************************-->

	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE B_STATUS ='Y'
	</select>

	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE
		b_STATUS='Y'
		ORDER BY BID DESC
	</select>

	<update id="updateCount" parameterType="_int">
		UPDATE BOARD
		SET BCOUNT =
		BCOUNT +1
		WHERE BID = #{bId}
	</update>

	<select id="selectBoard" resultMap="boardResultSet">
		SELECT *
		FROM BOARD
		WHERE BID =
		#{bId}
		AND B_STATUS='Y'
	</select>

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BID.NEXTVAL,#{bTitle},#{bWriter},#{bContent},#{originalFileName},#{renameFileName},DEFAULT,SYSDATE,SYSDATE,DEFAULT)
	</insert>

	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD
		SET
		BTITLE=#{bTitle},BCONTENT=#{bContent},ORIGINAL_FILENAME=#{originalFileName},RENAME_FILENAME=#{renameFileName},B_MODIFY_DATE
		= SYSDATE
		WHERE BID = #{bId}
	</update>
	<!-- bId를 '파라미터로 넘겨받으니까' int -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET B_STATUS
		= 'N'
		WHERE BID = #{bId}
	</update>

	<select id="selectTopList" resultMap="boardResultSet">
	<![CDATA[
		SELECT *
		FROM (SELECT *
				FROM board
				ORDER BY BCOUNT desc)
		WHERE ROWNUM <= 5
		]]>
	</select>


</mapper>
