<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<resultMap type="Board" id="boardResultSet">
		<id property="board_sq" column="board_sq" />
		<result property="board_writer" column="board_writer" />
		<result property="board_category" column="board_category" />
		<result property="board_title" column="board_title" />
		<result property="price" column="price" />
		<result property="board_img" column="board_img" />
		<result property="board_dips_cnt" column="board_dips_cnt" />
		<result property="board_chat_cnt" column="board_chat_cnt" />
		<result property="board_views_cnt" column="board_views_cnt" />
		<result property="board_date" column="board_date" />
		<result property="board_update_date" column="board_update_date" />
		<result property="board_address" column="board_address" />
		<result property="nego" column="nego" />
		<result property="board_state" column="board_state" />
		<result property="board_sample4_jibunAddress" column="board_sample4_jibunAddress" />
		<result property="profile_sq" column="profile_sq" />
	</resultMap>

	<resultMap type="BoardContent" id="boardContentResultSet">
		<id property="board_content_sq" column="board_content_sq" />
		<result property="board_sq" column="board_sq" />
		<result property="board_content" column="board_content" />
	</resultMap>
	
	<resultMap type="FileBoard" id="fileBoardResultSet">
		<id property="file_sq" column="file_sq" />
		<result property="board_content_sq" column="board_content_sq" />
		<result property="file_name" column="file_name" />
		<result property="file_org_name" column="file_org_name" />
		<result property="file_size" column="file_size" />
	</resultMap>

	<resultMap type="Dips" id="dipsResultSet">
		<result property="board_sq" column="board_sq" />
		<result property="profile_sq" column="profile_sq" />
	</resultMap>
	

	<select id="getBoardList" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_state = 'Y'
		ORDER BY board_sq DESC
	</select>
	
	<select id="searchBoard" parameterType="String" resultMap="boardResultSet" >
		SELECT *
		FROM board_tb
		WHERE board_state = 'Y' AND board_title LIKE '%' ||  #{words} || '%'
		ORDER BY board_sq DESC
	</select>
	
	<select id="areaBoard" parameterType="Board" resultMap="boardResultSet" >
		SELECT *
		FROM board_tb
		WHERE board_state = 'Y' AND board_address LIKE #{board_address}
		ORDER BY board_sq DESC
	</select>
	
	<update id="upViews">
		UPDATE board_tb
		SET board_views_cnt = #{board_views_cnt}+1
		WHERE board_sq = #{board_sq}
	</update>
	
	<insert id="insertPB" parameterType="Board">
		INSERT INTO board_tb
		VALUES(board_tb_seq.NEXTVAL,#{board_writer},#{board_category},#{board_title},#{price},#{board_img},DEFAULT,DEFAULT,DEFAULT,DEFAULT,DEFAULT,
		#{board_address},#{nego},DEFAULT,#{board_sample4_jibunAddress},#{profile_sq})
	</insert>
	
	<update id="deletePB" parameterType="Board">
		UPDATE board_tb
		SET
		board_state='N'
		WHERE board_sq = #{board_sq}
	</update>

	<select id="getBoard" parameterType="Board" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_writer = #{board_writer}
		AND board_img=#{board_img}
	</select>
	
	<select id="getBoard2" parameterType="Board" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_sq = #{board_sq}
	</select>
	
	<insert id="insertContent" parameterType="BoardContent">
		INSERT INTO board_content_tb
		VALUES(board_content_tb_seq.NEXTVAL,#{board_sq},#{board_content})
	</insert>
	
	<select id="getContent" parameterType="BoardContent" resultMap="boardContentResultSet">
		SELECT *
		FROM board_content_tb
		WHERE board_sq = #{board_sq}
	</select>
	
	<insert id="insertFile" parameterType="FileBoard">
		INSERT INTO file_tb
		VALUES(file_tb_seq.NEXTVAL,#{board_content_sq},#{file_name},#{file_org_name},#{file_size})
	</insert>
	
	<select id="getFiles" parameterType="BoardContent" resultMap="fileBoardResultSet">
		SELECT *
		FROM file_tb
		WHERE board_content_sq = #{board_content_sq}
	</select>
	
	<select id="checkDips" parameterType="Dips" resultType="Dips">
		SELECT *
		FROM dips_tb
		WHERE board_sq = #{board_sq} AND profile_sq = #{profile_sq}
	</select>
	
	<select id="getUserDips" parameterType="Dips" resultMap="dipsResultSet">
		SELECT *
		FROM dips_tb
		WHERE profile_sq = #{profile_sq}
	</select>

	<select id="getBoardDips" parameterType="Dips" resultMap="dipsResultSet">
		SELECT *
		FROM dips_tb
		WHERE profile_sq = #{profile_sq}
	</select>	

	<select id="dipsCount" parameterType="Dips" resultType="_int">
		SELECT COUNT(*)
		FROM dips_tb
		WHERE board_sq = #{board_sq}
	</select>

	<insert id="dipsBoard" parameterType="Dips">
		INSERT INTO dips_tb
		VALUES (#{board_sq},#{profile_sq})
	</insert>
	
	<delete id="deleteDips" parameterType="Dips">
		DELETE dips_tb
		WHERE board_sq = #{board_sq} AND profile_sq = #{profile_sq}
	</delete>

	<update id="updateBoardDips" parameterType="Board">
		UPDATE board_tb
		SET
		board_dips_cnt=#{board_dips_cnt}
		WHERE board_sq = #{board_sq}
	</update>

	<resultMap type="Follow" id="followResultSet">
		<id property="follow_pk" column="follow_pk" />
		<result property="follower" column="follower" />
		<result property="leader" column="leader" />
	</resultMap>

	
	<select id="getBoardListByProfileSq" resultMap="boardResultSet">
		SELECT *
		FROM board_tb
		WHERE board_state = 'Y' AND profile_sq = #{int}
		ORDER BY board_sq DESC
	</select>
	


<!--**************************************************************************************************-->
	<select id="selectTopList" resultMap="boardResultSet">
	<![CDATA[
		SELECT *
		FROM (SELECT *
				FROM board
				ORDER BY BCOUNT desc)
		WHERE ROWNUM <= 5
		]]>
	</select>


</mapper>
